@import "./reset.module.scss";
@import "./variables.module.scss";
@import "./mixins.module.scss";

body {
    background-color: $black-light;
    background: #000;
}

.wrapper {
    max-width: 1512px;
    padding: 0 65px;
    margin: 0 auto;
}

// .h2 {
//     font-size: 40px;
//     font-weight: 800;
//     color: $white;
// }


@media screen and (max-width: 840px) {
    .wrapper {
        padding: 0 40px;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 0 20px;
    }
}