@import "./../../styles/main/variables.module.scss";
@import "./../../styles/main/mixins.module.scss";

.game_tag {
    padding: 9px 30px;
    @include display-flex(center, center);
    column-gap: 15px;
    color: $white;
    font-size: 20px;
    font-weight: 600;
    background-color: $dark-light;
    border-radius: 10px;
    cursor: pointer;
    transition: $main-transition;
    transform: translateY(0);

    img, span  {
        transition: $main-transition;
    }

    &:hover {
        transition: $main-transition;
        background-color: $dark;
        transform: translateY(-5px);

        img, span  {
            transition: inherit;
            opacity: 0.8;
        }
    }
}