@import "./../../styles/main/variables.module.scss";
@import "./../../styles/main/mixins.module.scss";


.footer {
    padding: 40px 0 20px 0;
    background-color: $dark;

    &__container {
        padding: 60px 0;
        @include display-flex(center, center);
        gap: 10px;
    }

    &__copyright {
        border-top: 2px solid rgba($white, 0.4);
        padding-top: 20px;
        span {
            color: rgba($white, 0.4);
            font-size: 14px;
            font-weight: 400;
        }
        @include display-flex(space-between, center);

        .footer__social_media {
            display: flex;
            column-gap: 10px;

            svg {
                width: 34px;
                height: 34px;
            }
        }
    }
}